body{
  font-family: 'Kdam Thmor Pro', sans-serif;
  letter-spacing: 1.5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 1000px;
  min-height: 600px;
  background-color: #003e3a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
}


h2{
  padding: 5px 20px;
  font-size: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
  color: white;
}

#form{
  display: inline-flex;
  flex-direction: column;
}

label{
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

#inputNumber, #inputName{
  margin-top: 10px;
  padding: 10px;
}

button{
  margin-top: 20px;
  background-color: #ffc776;
  padding: 10px;
  color: #003e3a;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  
}

.hidden{
  display: none;
}

#error{
  color: red;
  font-weight: 800;
  font-size: 30px;
}

.p{
  padding: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
}

#output{
  margin-top: 20px;
}